* {
    margin: 0;
    padding: 0;
    --primary: #a5d95a;
    --pointer-size: 22px;
    cursor: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
}

body {
    position: absolute;
    top: 0;
    left: 0;
    overflow-y: scroll;
    width: 100vw;
    height: 100vh;
}









.content {
    width: 98vw;
    height: max-content;
    padding-left: 1vw;
    padding-right: 1vw;
    margin-top: 1vw;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* 5 столбиков */
    gap: 1vw;
    /* расстояние между столбиками */
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 1vw;
    overflow: visible;
}











/* From Uiverse.io by JohnnyCSilva */
.card {
    width: 100%;
    height: 12vh;
    z-index: 200;
    background: #353535;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: left;
    backdrop-filter: blur(10px);
    transition: 0.25s ease-in-out;
    border: 0.2vw solid #353535;
}

.card:hover {
    transform: scale(1.05);
    border: 0.2vw solid #a5d95a;
}

.textBox {
    width: 100%;
    margin-left: 1vw;
    margin-right: 1vw;
    color: white;
    font-family: 'Poppins'sans-serif;
}

.textContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.span {
    font-size: 1.7vh;
}

.h1 {
    font-size: 3vh;
    font-weight: bold;
}

.p {
    font-size: 1.7vh;
    font-weight: lighter;
}










.settings {
    display: flex;
}




.timer {
    margin-left: 4vw;
}




#pointer {
    content: '';
    background: #a5d95a;
    /* Ваш цвет */
    width: 2vw;
    height: 2vw;
    transform: translateX(-50%) translateY(-50%) rotateZ(45deg);
    position: absolute;
    z-index: 100;
    /* Убедитесь, что указатель выше других элементов */
    display: block;
    outline-color: #a5d95a;
    outline-style: solid;
    outline-width: 2px;
    animation: cursor 1s infinite;
    box-shadow: 0px 0px 20px #a5d95a;
    pointer-events: none;
    /* Чтобы указатель не мешал взаимодействию с другими элементами */
    transition: width 0.15s ease-in-out, height 0.15s ease-in-out;
}

@keyframes cursor {
    from {
        outline-offset: 0px;
    }

    to {
        outline-offset: 10px;
        outline-color: transparent;
    }
}







.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 12px;
    gap: 8px;
    height: 6vh;
    width: 10vw;
    border: none;
    background: #5e41de33;
    border: 2px solid #5e41de;
    border-radius: 20px;
    cursor: pointer;
    z-index: 300;
    position: fixed;
    backdrop-filter: blur(20px);
    bottom: 0;
    right: 0;
    transition: border 0.25s ease-in-out;
    margin: 3vh 1.5vw 3vh 1.5vw;
}

.lable {
    line-height: 20px;
    font-size: 17px;
    color: white;
    font-family: sans-serif;
    letter-spacing: 1px;
    transition: color 0.25s ease-in-out;
}

.button:hover .lable {
    color: #a5d95a;
}

.button:hover {
    border: 0.2vw solid #a5d95a;
    background: #5e41de4d;
    cursor: none;
}

.button .svg-icon {
    stroke: white;
    transition: stroke 0.25s ease-in-out;
}

.button:hover .svg-icon {
    animation: spin 2s linear infinite;
    stroke: #a5d95a;
}

@keyframes spin {
    0% {

        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.Settings_Panel {
    width: 14vw;
    min-height: 16vh;
    height: min-content;
    background: #5e41de33;
    border: 2px solid #5e41de;
    border-radius: 20px;
    position: fixed;
    backdrop-filter: blur(20px);
    bottom: 0;
    right: -20vw;
    margin: 3vh 1.5vw 12vh 1.5vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    padding-top: 2vh;
    padding-bottom: 2.5vh;
    gap:2vh;
    transition: right 0.35s ease-in-out;
}
.Settings_Panel_viwy{
    right: 0;
}
.Settings_Panel:hover{
    cursor: pointer;
}



.input-container {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
}
.input-container:hover{
    cursor: pointer;
}
.labelinput {
    display: block;
    color: white;
    margin-left: 1vw;
    margin-right: 1vw;
}

.labelinput:hover{
    cursor: pointer;
}
.select231:hover{
    cursor: pointer;
}
.input-container input:hover{
    cursor: pointer;
}
.input[type="text"] {
    padding: 1vh;
    font-size: 2vh;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    color: #333;
    
    margin-left: 1vw;
    margin-right: 1vw;
    width: calc(100% - 2vh - 2vw);
    outline: none;
    transition: border-radius 0.3s;
}
.uvedBut{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: 2vh;
    margin-top: 1vh;
    color: white;
    margin-left: 1vw;
    margin-right: 1vw;
    width: calc(100% - 2vh - 2vw);
    gap: 1vw;
}
.underline {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    margin-left: 1vw;
    height: 2px;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #a5d95a 0%, #a5d95a 46%, #a5d95a 100%);
    transition: width 0.3s;
}

.input[type="text"]:focus + .underline {
    margin-left: 1vw;
    width: calc(100% - 2vh - 1vw);
}
.input[type="text"]:focus {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

@keyframes floating-label {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(-25px);
        opacity: 0;
    }
}

.input[type="text"]:placeholder-shown+label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 14px;
    color: #777;
    pointer-events: none;
    transition: transform 0.3s, font-size 0.3s, color 0.3s;
}

.input[type="text"]:focus:not(:placeholder-shown)+label {
    transform: translateY(-25px);
    font-size: 12px;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    animation: floating-label 0.3s forwards;
}







































#canvas {
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(25deg, #16054A, #C8A6B4);
}